.input-technology{
    width: 40%;
}

.add-technology{
    display: flex;
    gap: 3rem;
}

/* .projects-name{
    display: flex;

    align-items: center;
    justify-content: center;
} */

/* .btn-add{
    font-size: 2rem;
   
    height: 3rem;
    width: 5rem;
    border-radius: 0.6rem;
} */

/* .aw-box__icon:hover{
    background-color: ;
} */
*{
    text-decoration: none;
}
.col-sm-4{
    cursor:pointer;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.col-sm-4:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 500ms;
}
.aw-box__icon a{
    text-decoration: none;

}
.aw-box__icon i{
    font-size: 3rem;    
}
.aw-box__icon i:hover{
    color: aqua;
    transition: color;
    transition-duration: 500ms;
}
.projects-name a{
    text-decoration: none;
}

.aw-box__title{
    text-decoration: none;
}

.aw-graph-box__title{
    display: flex;
    justify-content: space-between;
}

.aw-graph-box__no-data{
    position: static;
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    color: #777;
    font-size: 2rem;
}

.btns-time{
    display: flex;
    padding-top: 1rem;
    gap: 1rem;
    justify-content: flex-end;
}

.btns-time i{
    font-size: 3rem;
}
.btns-time a{
    text-decoration: none;
}